[submodule "dust3r"]
	path = dust3r
	url = https://github.com/bakuljangley/dust3r.git
	branch = main
[submodule "monocular_depth_models/depthanythingv2"]
	path = monocular_depth_models/depthanythingv2
	url = https://github.com/bakuljangley/Depth-Anything-V2.git
[submodule "monocular_depth_models/zoedepth"]
	path = monocular_depth_models/zoedepth
	url = https://github.com/bakuljangley/ZoeDepth.git
[submodule "monocular_depth_models/depthpro"]
	path = monocular_depth_models/depthpro
	url = https://github.com/bakuljangley/Depth-Pro.git
[submodule "mapillary"]
	path = mapillary
	url = https://github.com/bakuljangley/mapillary_utils.git
	